require 'compass'

Compass.add_project_configuration 'compass.rb'

layout '*', :slim_pretty

compile '/styles/_*/' do
  # Don’t compile partials
end

compile '/styles/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '*' do
  unless item.binary?
    case item[:extension]
    when 'slim'
      filter :slim, pretty: true
      layout 'default'
    end
  end
end

route '/styles/_*/' do
  # Don't output partials
end

route '/styles/*/' do
  item.identifier.chop + '.css'
end

route 'pages/*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

# Anything not explicitly routed is ignored
route '*' do

end

