#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration 'compass.rb'

do_nothing = ->(*) { }


# -----------------------------------------------
# Filters
# -----------------------------------------------

compile '/static/fonts/*', &do_nothing

compile '/images/*',    &do_nothing
compile '/layouts/*',   &do_nothing
compile '/lib/*',       &do_nothing

# Compile stylesheets but not partials
compile '/styles/_*/',    &do_nothing
compile '/styles/*/_*/',  &do_nothing
compile '/styles/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '/pages/*' do
  case item[:extension]
  when 'slim'
    filter :slim, pretty: true
    layout 'default'
  end
end

layout '*', :slim, pretty: true


# -----------------------------------------------
# Routes
# -----------------------------------------------

route '/static/fonts/*' do
  # /static/foo/ → /foo.html
  item.identifier.chop.sub(%r{^/static}, "")
end

route 'images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route 'pages/*' do
  item.identifier + 'index.html'
end

route '/styles/_*/', &do_nothing
route '/styles/*/' do
  item.identifier.chop + '.css'
end

# Anything not explicitly routed is ignored
route '*', &do_nothing

